/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
html {
	box-sizing: border-box;
}
body {
	width: 1200px;
	margin: 0 auto;
	border: 1px solid red;
	height: auto;
}

header {
	display: flex;
	flex-wrap: nowrap;
  	align-items: center;
	justify-content: space-between;
	padding: 10px;
	margin-top: 20px;
	margin-left: 30px;
	margin-bottom: 20px;
}

nav {
	position: fixed;
	vertical-align: middle;
}

nav a {
	text-decoration: none;
	margin-left: 20px;
	color: gray;
}

nav a:hover {
	color: green;
	background-color: gray;
}

header img {
	margin-left: 900px;
}
.pic img {
	margin-top: 20px;
	margin-left: 60px;
	width: 1060px;
	margin-bottom: 20px;
}

h2 {
	font-family: "bangers";
	margin-left: 60px;
	font-size: 25px;
	margin-bottom: 10px;
}

.p1 {
	margin-left: 60px;
	font-size: 16px;
	margin-bottom:20px;
	width: 1075px;
}

h3 {
	font-family: "bangers";
	font-size: 15px;
	margin-bottom: 10px;
}

.one {
	border: 1px solid black;
	width: 1070px;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 60px;
}
.box {
	float: left;
	border: 1px solid black;
	width: 40%;
	height: 200px;
	background: cornsilk;
	margin-bottom:20px;
	margin-left: 60px;
}
.box1 {
	float: right;
	border: 1px solid black;
	width: 40%;
	height: 200px;
	background: cornsilk;
	margin-bottom:20px;
	margin-right: 70px;
}

.space {
	margin-bottom:50px;
}

.two {
	border: 1px solid black;
	width: 1070px;
	margin-bottom: 40px;
	margin-left: 60px;
	margin-top: 750px;
}
footer {
	margin-top:30px;
	margin-left:60px;
}

footer h2 {
	margin-left: -2px;
	margin-bottom: 20px;
}
footer p {
	width: 320px;
	margin-bottom: 30px;
}

footer img {
	float: right;
	margin-top: -250px;
	margin-right: 65px;
}

.cop {
	margin: auto;
	margin-top: 100px;
	margin-bottom: 50px;
	text-align: center;
}

ul {
	margin-left: 10px;
}

ul li {
	margin: 20px 0;
	list-style-type: disc;
}
button {
	margin-left: 20px;
	margin-top: 15px;
}

.inner-box {
	margin-top: 15px;
	margin-left: 20px;
}